<mat-toolbar color="primary">
    <span>Transactions du compte {{ accountId }}</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="openTransactionDialog()">
        <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>

<div class="transaction-table">
    <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
        <!-- Colonnes de la table -->
        <!-- ... (code des colonnes) ... -->
        <!-- Actions -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <button
                        mat-icon-button
                        matTooltip="Modifier"
                        (click)="openTransactionDialog(element)"
                >
                    <mat-icon>edit</mat-icon>
                </button>
                <button
                        mat-icon-button
                        matTooltip="Supprimer"
                        (click)="deleteTransaction(element.id)"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <!-- Header et Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
