<!-- src/app/app.component.html -->
<mat-sidenav-container class="sidenav-container" *ngIf="isLoggedIn()">
    <mat-sidenav mode="side" opened>
        <!-- Contenu de la sidebar -->
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard">Tableau de Bord</a>
            <!-- Vous pouvez ajouter d'autres liens ici -->
            <mat-divider></mat-divider>
            <button mat-button (click)="logout()">Déconnexion</button>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- Contenu principal -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- Si l'utilisateur n'est pas connecté, on affiche simplement le router-outlet -->
<div *ngIf="!isLoggedIn()">
    <router-outlet></router-outlet>
</div>
